menu "StudioPieters"

config WIFI_SSID
  string "Your WIFI SSID"
  default "WIFI SSID"
  help
  Enter your network name (SSID).

config WIFI_PASSWORD
  string "Your WIFI Password"
  default "WIFI Password"
  help
  Enter your WIFI password.

config LED_GPIO
  int "Set the GPIO for the LED"
  default 2
  help
  The GPIO number the LED is connected to.

# HomeKit setup options
config HOMEKIT_DEVICE_SETUP_CODE
    string "HomeKit Device Setup Code"
    default "338-77-883"
    help
    HomeKit Setup code for the example to use.

config HOMEKIT_DEVICE_SETUP_ID
    string "HomeKit Device Setup ID"
    default "1QJ8"
    help
    Setup ID code to be used for HomeKit pairing, if hard-coded setup code is enabled.

endmenu
